<div class="Lywrapper">
  <div class="LywrapIn">
    <header>

    </header>
    <div class="Lycontents">
    <!-- top-contents  --> 
      <div class="Lytop">
	<div class="LytopIn">
	  <div class="MdHeading">
	    <form id="MissionForm" novalidate="novalidate">
	      <fieldset class="MdEditForm">
		<legend class="MdHide">Form to edit an article</legend>
		<div class="MdEditFormBox1">
		  <dl class="MdEditFormItem">
		    <dt class="MdHide">Article Title</dt>
		    <dd>
		      <p class="MdInputForm Mdrequired">
			<span class="MdInputFormIn">
			  <input type="text" name="title" value placeholder="Enter you article title" class="MdInputFormIntxt Explaceholder">
			</span>
		      </p>
		    </dd>
		  </dl>
		  <p class="MdEditFormOption"></p>
		</div>
		<div class="MdEditFormBox2" style="display:none"></div>
	      </fieldset>
	    </form>
	  </div>
	  <!-- /MdHead -->
	  <!-- MdWidget -->
	  <div class="MdWidget">
	    <p class="MdWidgetTtl">Add Item</p>
	    <ul class="MdWidgetList">
	      <li class="MdWidgetLi">
		<a class="MdWidgetBtn">Link</a>
	      </li>
	      <li class="MdWidgetLi">
		<a class="MdWidgetBtn">Image</a>
	      </li>
	      <li class="MdWidgetLi">
		<a class="MdWidgetBtn">Movie</a>
	      </li>
	      <li class="MdWidgetLi">
		<a class="MdWidgetBtn">Quote</a>
	      </li>
	      <li class="MdWidgetLi">
		<a class="MdWidgetBtn">Twitter</a>
              </li>
	      <li class="MdWidgetLi">
		<a class="MdWidgetBtn">Text</a>
	      </li>

	      <li class="MdWidgetLi">
		<a class="MdWidgetBtn">Heading</a>
	      </li>

	    </ul>
	    <ul class="Widgetcontents">
	      <li class="hide">1</li>
	      <li class="hide">2</li>
	      <li class="hide">3</li>
	      <li class="hide">4</li>
	      <li class="hide">5</li>
	      <li class="hide">6</li>
	      <li class="hide">7</li>
	    </ul>
	  </div>
	  <!-- /MdWidget -->

	</div>
      </div>
    <!-- /top-contents -->
    <!-- main-contents -->
      <div class="LycontentsWrap">
	<div class="LyMain">
	  <div class="ArMain01">
	    <div class="MdMainWidgetList ui-sortable"></div>
	    <div class="MdPagination"></div>
	  </div>
	</div>
	<div class="LySub"></div>
      </div>
    <!-- /maincontents -->

    </div>

  </div>
  

</div>
